.nt, pre, .terminal, code, .prop, .esstring, .javavalue, .idlident, .idlstring, .xattr, .regex, .prod-number, .prod-lines, .prod-mid {
  font-size: 14px;
}
pre code, .prod-lines .nt {
  font-size: 14px !important;
}
.ednote, .terminal, code, .prop, .esstring, .javavalue, .idlident, .idlstring, .example, .note, blockquote {
  background: #d9e8ff;
}


td code {
  background: inherit;
}
.example blockquote {
  background: #f0f6ff;
}
table.grammar {
  background: #eee;
}
.ednote {
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  margin: 1em 2em;
  padding: 0 1em 0 1em;
  background: #f8eeee;
}


.ednoteHeader {
  font-weight: bold;
  display: block;
  padding-top: 0.5em;
}
.toc ul li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
.toc ul {
  margin-bottom: 0.5em;
}
.terminal, code, .prop, .esstring, .javavalue, .idlident, .idlstring, .input {
  font-family: /*Consolas, Monaco,*/ monospace !important;
}
pre.code code {
  background: inherit;
}
.propattrset {
}
/*.prop {
  font-family: Consolas, Monaco, monospace;
}*/
 
.xattr {
  font-family: /*Consolas, Monaco,*/ monospace;
}
 
table { border-collapse:collapse; border-style:hidden hidden none hidden }
table thead { border-bottom:solid }
table tbody th:first-child { border-left:solid }
table td, table th { border-left:solid; border-right:solid; border-bottom:solid thin; vertical-align:top; padding:0.2em }
 
.nt, .prod-lines {
  font-family: /*Consolas, Monaco,*/ monospace;
  white-space: nowrap;
}
.idltype, .idlvalue {
  font-weight: bold;
}
.idlop {
  font-weight: bold;
}
.esvalue, .estype {
  font-weight: bold;
}
.javatype, .javapkg {
  font-weight: bold;
}
.regex {
  font-family: /*Consolas, Monaco,*/ monospace;
  white-space: nowrap;
}
.typevar {
  font-style: italic;
}
.example, .note {
  border-top: 3px solid #005a9c;
  border-bottom: 3px solid #005a9c;
  margin: 1em 2em;
  padding: 0 1em 0 1em;
}
.exampleHeader, .noteHeader {
  font-weight: bold;
  display: block;
  color: #005a9c;
  color: black;
  padding-top: 0.5em;
}
pre {
  overflow: auto;
  margin: 0;
  font-family: /*Consolas, Monaco,*/ monospace;
}
pre.code {
  padding: 0 1em 0 6em;
  margin: 0;
  margin-bottom: 1em;
}
.block {
  border: 1px solid #90b8de;
  border-left: 3px double #90b8de;
  border-left: none;
  border-right: none;
  background: #f0f6ff;
  margin: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 0.5em;
  padding-bottom: 0.5em;
}
.blockTitleDiv {
  text-align: left;
}
.blockTitle {
  position: relative;
  top: -0.75em;
  left: -1.5em;
  /*border: 1px solid #90b8de;
  border-left: none;
  border-right: none;*/
  background: #90b8de;
  color: white;
  padding: 0.25em 1em 0.25em 1em;
  font-weight: bold;
  font-size: 80%;
}
dfn {
  font-weight: bold;
  font-style: italic;
}
.dfnref {
}
li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul > li {
  list-style-type: disc;
}
.norm {
  font-style: italic;
}
.rfc2119 {
  text-transform: lowercase;
  font-variant: small-caps;
}
dfn var {
  font-style: normal;
}
blockquote {
  padding: 1px 1em;
  margin-left: 2em;
  margin-right: 2em;
}
a.placeholder {
  color: #00e;
}
dl.changes > dd {
  margin-left: 0;
}
dd > :first-child {
  margin-top: 0;
}
caption {
  caption-side: bottom;
  margin-top: 1em;
  font-weight: bold;
}
body {
  line-height: 1.3;
}
@media print {
  .section-link {
    display: none;
  }
}
.section-link {
  visibility: hidden;
  width: 1px;
  height: 1px;
  overflow: visible;
  font-size: 10pt;
  font-style: normal;
}
.section-link a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
.section-link a:hover {
  color: #c00;
}
.section > *:hover > .section-link {
  visibility: visible;
}
div.set {
  margin-left: 3em;
  text-indent: -1em;
}
ol.algorithm ol {
  border-left: 1px solid #90b8de;
  margin-left: 1em;
}
dl.switch > dd > ol.only {
  margin-left: 0;
}
dl.switch {
  padding-left: 2em;
}
dl.switch > dt {
  text-indent: -1.5em;
  margin-top: 1em;
}
dl.switch > dt + dt {
  margin-top: 0;
}
dl.switch > dt:before {
  content: '\21AA';
  padding: 0 0.5em 0 0;
  display: inline-block;
  width: 1em;
  text-align: right;
  line-height: 0.5em;
}
.diagram {
  text-align: center;
}
iframe {
  border: 0;
}
.ignore {
  opacity: 0.5;
}
.comment {
  color: #005a9c;
}

 
 
.matrix {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.matrix th {
  background: #d9e8ff;
  text-align: right;
}
.matrix td, .matrix th {
  border: 1px solid #90b8de;
  padding: 4px;
}
.matrix th.corner {
  border: 0;
  background: none;
}
.matrix td {
  text-align: center;
  background: #f0f6ff;
}
.matrix .belowdiagonal {
  background: #ddd;
}
 
ul.notes { font-size: 90%; padding-left: 0 }
ul.notes li { list-style-type: none }
ul.notes .note-link { vertical-align: super }
.note-link { font-size: 90% }
 
.code var { color: #f44; }
 
/* For dfn.js */
body.dfnEnabled dfn { cursor: pointer; }
.dfnPanel {
  display: inline;
  position: absolute;
  height: auto;
  width: auto;
  padding: 0.5em 0.75em;
  font: small sans-serif;
  background: #DDDDDD;
  color: black;
  border: outset 0.2em;
  cursor: default;
}
.dfnPanel * { margin: 0; padding: 0; font: inherit; text-indent: 0; }
.dfnPanel :link, .dfnPanel :visited { color: black; }
.dfnPanel p { font-weight: bolder; }
.dfnPanel li { list-style-position: inside; }
